@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html>body {
  font-family: 'GmarketSansMedium';
  text-underline-position: under;
}

/* 라이브러리 */
.con-min-widht {
  min-width: var(--site-width);
}

.con {
  width: var(--site-width);
}

/* 커스텀 */
body {
  background-color: #000;
  color: #DEDEDE;
  border-color: #DEDEDE;
}

:root {
  --site-width: 1440px;
}

/* 탑바 로고 */
.top-bar>.con>.logo>img {
  height: 95%;
}

/* 탑바 메뉴 작업 */

.menu-1>ul>li>a {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 25px;
}

/* 탑바 작업 끝 */

/* 하단바 작업시작 */
.footer {
  margin-left: -130px;
}

.footer>.con>.logo-box>.logo>img {
  height: 70%;
}

.footer>.con>.text>p {
  margin-top: 27%;
  margin-left: -30px;
}

/* 하단바 작업 끝 */