/* 섹션 작업 시작 */
.video {
  margin-top: 30px;
}

.video>.con>.sns-box {
  /* 	background-color: red; */
  justify-content: flex-end;
}

.video>.con>.sns-box>a {
  font-size: 1.7rem;
  margin: 25px 20px;
}

.video>.con>.sns-box>a>i {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  transition: opacity 0.3s;
}

.video>.con>.sns-box>a:hover>i {
  opacity: 0.5;
}

/* 섹션 작업 끝 */